body{
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230716/pngtree-realistic-3d-rendering-of-speeding-clouds-against-a-blue-sky-background-image_3870197.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
#projects{
  place-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
a{
  color: white;
  padding: 30px 40px 30px 0px;
  text-decoration: none;
}
label{
  padding: 30px 0px;
}