body{
  background-color:skyblue;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
#projects{
  place-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
a{
  color: white;
  padding: 30px 40px 30px 0px;
  text-decoration: none;
}
label{
  padding: 30px 0px;

}
